# Changelog:
#     2017-08-30: Added *.pyc (python byte code)
#                       *~ (emacs temporary files / cache files)
#                       __pycache__/ (python cache folder)
#                 to the blacklist
#
#     2017-09-07: Added LaTex auxillary files *.log
#                                             *.aux
#                                             *.bbl
#                                             *.blg
#                                             *.out
#                 Emacs config files *.el
#                 and Emacs LaTeX preview temporary folder _region_.prv/
#                 to the blacklist

# Python temporary files
*/__pycache__/*
*.pyc

# Minted temporary files
*/_minted*/*

# Jupyter Notebook checkpoints
*/.ipynb_checkpoints/

# Emacs temporary / auxillary files
*~
*.el

# Vim temporary files:
*.swp
*.swo

# LaTeX auxiliary files
*.log
*.aux
*.bbl
*.blg
*.out

# Latexmk auxiliary files
*.fdb_latexmk
*.fls

# Emacs LaTeX preview folder
*/_region_.prv/
