# Changelog:
#     2017-08-30: Added *.pyc (python byte code)
#                       *~ (emacs temporary files / cache files)
#                       __pycache__/ (python cache folder)
#                 to the blacklist
#
#     2017-09-07: Added LaTex auxillary files *.log
#                                             *.aux
#                                             *.bbl
#                                             *.blg
#                                             *.out
#
#                 as well as Emacs config files *.el
#                 to the blacklist

__pycache__/
*.pyc
*~

## 
*.log
*.el
*.aux
*.bbl
*.blg
*.out
